body{
    font-family:'open sans',sans-serif;
    background-color: black;
}
#container{
    width:1000px;
    height:550px;
    margin:20px auto;
    
}
#calculator{
    width:400px;
    height: 620px;
    background-color: antiquewhite;
    margin: 0 auto;
    top:20px;
    position:relative;
    border-radius:5px;
    box-shadow:0 4px 8px black(0,0,0,0.2) ,0 6px 20px black(0,0,0,0.19);
}
#keyboard{
    height:450px;
}
.operator,
.number,
.empty{
    width:50px;
    height:50px;
    margin:15px;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold;
    font-size:15px;
}
.number,
.empty{
    background-color: aliceblue;
}
.number,
.operator{
    cursor: pointer;
}
.operator:active,
.number:active{
    font-size:13px;
}
#result{
    height:170px;
}
#history{
    text-align:right;
    height:20px;
    margin:0 20px;
    padding-top: 20px;
    font-size:15px;
    color:gray
}
#output{
    text-align: right;
        height: 60px;
        margin: 10px 20px;
        
        font-size: 30px;
    
}
button:nth-child(4){
    font-size: 20px;
    background-color:cyan;
}
button:nth-child(8) {
    font-size: 20px;
    background-color:indigo;
}
button:nth-child(12) {
    font-size: 20px;
    background-color:plum;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: green;
}
button:nth-child(20) {
    font-size: 20px;
    background-color: red;
}